################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TomasekRestApi/.vs/TomasekRestApi
/TomasekRestApi/TomasekRestApi/bin/Debug/net6.0
/TomasekRestApi/TomasekRestApi/obj
/.vs/Alza/v17
/TomasekRestApi/RestApiUnitTests/bin
/TomasekRestApi/RestApiUnitTests/obj
/TomasekRestApi/TomasekRestApi.BL/bin/Debug/net6.0
/TomasekRestApi/TomasekRestApi.BL/obj
/TomasekRestApi/TomasekRestApi.Model/bin/Debug/net6.0
/TomasekRestApi/TomasekRestApi.Model/obj
/Tournament/RegisterTournament/bin/Debug
/Tournament/.vs/Tournament/v17
/Tournament/RegisterTournament/obj

/Tournament/Tournament/obj
/Tournament/Tournament/bin/Backup
/Tournament/Tournament/bin/Debug/2021_11_04_Tournament_Rounds2.png
/Tournament/Tournament/bin/Debug/2021_11_04_Tournament_Rounds1.png
/Tournament/Tournament/bin/Debug/2021_11_02_Tournament_Rounds2.png
/Tournament/Tournament/bin/Debug/2021_11_02_Tournament_Rounds1.png
/Tournament/Tournament/bin/Debug/2021_09_14_Tournament_Rounds2.png
/Tournament/Tournament/bin/Debug/2021_09_14_Tournament_Rounds1.png
/Tournament/Tournament/bin/Debug/2019_02_27_Tournament_20.xml
/Tournament/Tournament/bin/Debug/2019_01_11_Tournament_26.xml
/Tournament/Tournament/bin/Debug/2019_01_09_Tournament_26.xml
/Tournament/Tournament/bin/Debug/2019_01_07_Tournament_26.xml
/Tournament/Tournament/bin/Debug/2019_01_07_Tournament_14.xml
/Tournament/Tournament/bin/Debug/2019_01_06_Tournament_4.xml
/Tournament/Tournament/bin/Debug/2019_01_06_Tournament_32.xml
/Tournament/Tournament/bin/Debug/2019_01_06_Tournament_26.xml
/Tournament/Tournament/bin/Debug/2019_01_06_Tournament_24.xml
/Tournament/Tournament/bin/Debug/2019_01_06_Tournament_10.xml
/Tournament/Tournament/bin/Release
/Tournament/Tournament/bin/Debug/TournamentRounds4.csv
/Tournament/Tournament/bin/Debug/TournamentRounds32.csv
/Tournament/Tournament/bin/Debug/TournamentRounds30.csv
/Tournament/Tournament/bin/Debug/TournamentRounds26.csv
/Tournament/Tournament/bin/Debug/TournamentRounds24.csv
/Tournament/Tournament/bin/Debug/TournamentRounds22.csv
/Tournament/Tournament/bin/Debug/TournamentRounds20.csv
/Tournament/Tournament/bin/Debug/TournamentRounds14.csv
/Tournament/Tournament/bin/Debug/TournamentRounds12.csv
/Tournament/Tournament/bin/Debug/TournamentRounds10.csv
/Tournament/Tournament/bin/Debug/Tournament.vshost.exe.manifest
/Tournament/Tournament/bin/Debug/Tournament.vshost.exe.config
/Tournament/Tournament/bin/Debug/Tournament.vshost.exe
/Tournament/Tournament/bin/Debug/Tournament.pdb
/Tournament/Tournament/bin/Debug/Matches.txt
/Tournament/Tournament/bin/Debug/hotovo-9.2.2019.xml
/Tournament/Tournament/bin/Debug/Tournament.exe.config
/Tournament/Tournament/bin/Debug/Tournament.exe
/Tournament/Tournament/bin/Debug/tmp.xml
/Tournament/Tournament/bin/Debug/Testovaci_14_2017_11_03.xml
/Tournament/Tournament/bin/Debug/RegisterKey.ini
