################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TomasekRestApi/.vs/TomasekRestApi
/TomasekRestApi/TomasekRestApi/bin/Debug/net6.0
/TomasekRestApi/TomasekRestApi/obj
